<header>
    <nav class="navbar fixed-top navbar-expand-lg bg-brand">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar w/ text</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                </ul>
                <span id="connection_status" class="nav-item me-2 text-white" data-turbo-permanent><i
                       data-page-target="socketStatus" style="font-size: 1.5rem" class="bi bi-wifi-off"></i></span>
                <span class="nav-item"><a class="nav-link" href="{{ request.url_for("logout") }}">Logout</a></span>
            </div>
        </div>
    </nav>
</header>