name: Docker image

permissions: write-all

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      -
        name: Set the git version to env
        id: put_gitversion_to_env
        run: |
          echo "GIT_VERSION=`git describe --tags --dirty --always`" >> $GITHUB_ENV
          echo "BUILD_DATE=`date`" >> $GITHUB_ENV
          echo "lowercase_repo=${{ github.repository }}" | tr '[:upper:]' '[:lower:]' >> $GITHUB_ENV
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build
        id: build-image
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/aarch64
          load: false
          push: true
          file: Dockerfile.multi
          tags: ghcr.io/${{ env.lowercase_repo }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            GIT_VERSION=${{ env.GIT_VERSION }}
            BUILD_DATE=${{ env.BUILD_DATE }}